.MMM-forecast-io .big-icon {
  font-size: 75%;
  line-height: 65px;
  display: inline-block;
  -ms-transform: translate(0, -3px); /* IE 9 */
  -webkit-transform: translate(0, -3px); /* Safari */
  transform: translate(0, -3px);
}

.forecast {
  text-align: left;
  overflow: hidden;
  width: 400px;
}

.forecast-row {
  display: table;
  color: white;
  overflow: hidden;
}

.forecast-row>span {
  display: table-cell;
  text-align: center;
}

.forecast-row .bar {
  background-color: white;
  line-height: 0.8em;
  border-radius: 1em;
  border: 0.5ex black solid;
  background-clip: padding-box;
  color: black;
}

.forecast-day {
  display: inline-block;
  margin-right: 0.5em;
}
.forecast-day .forecast-day-text {
  display: inline-block;
}
.forecast-day .weathericon {
  display: inline-block;
  float: right;
}

.MMM-forecast-io .precipitation-graph {
  border: 1px solid white;
  border-radius: 3px;
  margin: 1ex;
}
