.MMM-forecast-io .big-icon {
  font-size: 75%;
  line-height: 65px;
  display: inline-block;
  -ms-transform: translate(0, -3px); /* IE 9 */
  -webkit-transform: translate(0, -3px); /* Safari */
  transform: translate(0, -3px);
}

.forecast {
  text-align: left;
  overflow: hidden;
}

.forecast-row {
  display: block;
  height: 2.0ex;
  color: white;
  margin: 1ex 0ex;
}

.forecast-row .temp {
  display: inline-block;
  vertical-align: middle;
  padding: 5px 0px;
}

.forecast-row .temp.min-temp {
  text-align: right;
}

.forecast-row .bar {
  display: inline-block;
  background-color: white;
  height: 2.0ex;
  border-radius: 1ex;
  vertical-align: middle;
  margin: 0px 2px;
}

.forecast-day {
  position: relative;
  display: inline-block;
  margin-right: 0.5em;
}
.forecast-day .forecast-day-text {
  display: inline-block;
}
.forecast-day .weathericon {
  display: inline-block;
  position: absolute;
  right: 0px;
}

.MMM-forecast-io .precipitation-graph {
  border: 1px solid white;
  border-radius: 3px;
  margin: 1ex;
}
